.body {
  background: #000 !important;
}

.myc-flx-navbar {
  justify-content: flex-end !important;
}

.myc-save-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px 10px 0px;
}

.myc-btn-rmall {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.myc-form-ta-c {
  text-align: center;
}

.myc-del-all-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
