.myc-flx-navbar {
  justify-content: flex-end !important;
}

.myc-navbar-color {
  background-color: #485785 !important;
}

.myc-nvl-pad {
  padding-left: 20px;
}

.myc-nvt-pad {
  padding-right: 20px;
}

.myc-form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
}

.myc-btn-rmall {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.myc-form-ta-c {
  text-align: center;
}

.myc-del-all-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
